<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>

<!-- Horizontal Form -->
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Edit Role</h3>
        &nbsp;&nbsp;
        <a href="/item/index" th:href="@{/item/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
        &nbsp;|&nbsp;
        <a href="/item/create" th:href="@{/item/create}" class=""><i class="fas fa-file-alt"></i> New Form</a>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="#" th:action="@{/item/update}" th:object="${entity}" method="post" class="form-horizontal">
        <div class="card-body">

            <!--                            <input type="hidden" id="id" th:field="*{id}">-->

            <div class="form-group row">
                <label for="id" class="col-form-label col-sm-2 ">ID</label>
                <div class="col-sm-5">
                    <input type="text" th:field="*{id}" class="form-control" id="id" readonly />
                </div>
                <div class="col-sm-5"><span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span></div>
            </div>

            <div class="form-group row">
                <label for="itemCode" class="col-form-label col-sm-2 ">Item Code</label>
                <div class="col-sm-5">
                    <input type="text" th:field="*{itemCode}" class="form-control" id="itemCode" />
                </div>
                <div class="col-sm-5"><span th:if="${#fields.hasErrors('itemCode')}" th:errors="*{itemCode}" class="text-danger"></span></div>
            </div>

            <div class="form-group row">
                <label for="itemName" class="col-form-label col-sm-2 ">Item Name</label>
                <div class="col-sm-5">
                    <input type="text" th:field="*{itemName}" class="form-control" id="itemName" placeholder="" />
                </div>
                <div class="col-sm-5"><span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="text-danger"></span></div>
            </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="/item/index" th:href="@{/item/index}" class="btn btn-default"><i class="fas fa-times"></i> Cancel</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-info"><i class="fas fa-check"></i> Update</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>
<!-- /.card -->

</body>
</html>