<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>





<!-- Horizontal Form -->
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Stock Balance</h3>
        &nbsp;&nbsp;
        <a href="/item/index" th:href="@{/stock/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
        &nbsp;|&nbsp;
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="#" th:object="${entity}" method="post" class="form-horizontal object-show-form">
        <div class="card-body">

            <div class="form-group row">
                <label for="id" class="col-form-label col-sm-2 ">ID</label>
                <div class="col-sm-5">
                    <span th:utext="*{id}" class="form-control" id="id"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="item" class="col-form-label col-sm-2 ">Item Name</label>
                <div class="col-sm-5">
                    <span th:utext="*{item?.getItemName()}" class="form-control" id="item"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="qty" class="col-form-label col-sm-2 ">Qty</label>
                <div class="col-sm-5">
                    <span th:utext="*{qty}" class="form-control" id="qty"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="avgWeightPrice" class="col-form-label col-sm-2 ">avgWeightPrice</label>
                <div class="col-sm-5">
                    <span th:utext="*{avgWeightPrice}" class="form-control" id="avgWeightPrice"></span>
                </div>
            </div>
            <!--<div class="form-group row">
                <label for="creationUser" class="col-form-label col-sm-2 ">Creation User</label>
                <div class="col-sm-5">
                    <span th:utext="*{creationUser}" class="form-control" id="creationUser"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="creationDateTime" class="col-form-label col-sm-2 ">Creation DateTime</label>
                <div class="col-sm-5">
                    <span th:utext="*{creationDateTime}" class="form-control" id="creationDateTime"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastUpdateUser" class="col-form-label col-sm-2 ">Last Update User</label>
                <div class="col-sm-5">
                    <span th:utext="*{lastUpdateUser}" class="form-control" id="lastUpdateUser"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastUpdateDateTime" class="col-form-label col-sm-2 ">Last Update Date Time</label>
                <div class="col-sm-5">
                    <span th:utext="*{lastUpdateDateTime}" class="form-control" id="lastUpdateDateTime"></span>
                </div>
            </div>-->


        </div>
        <!-- /.card-body -->
        <div class="card-footer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/stock/delete/" th:href="@{/stock/delete/{id}(id=${entity.id})}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
        <!-- /.card-footer -->
    </form>
</div>
<!-- /.card -->





</body>
</html>